.inputField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputField label {
  font-size: 16px;
  color: #767676;
}

.inputField input {
  font-size: 22px;
  background-color: #f1f0f6;
  outline: none;
  border: none;
  padding: 4px;
  height: 46px;
}
