.container {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.container h2 {
  font-size: 32px;
}

.formContainer {
  background-color: #fff;
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.form .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form .row label {
  font-size: 16px;
  color: #767676;
}
.form .row p {
  font-size: 18px;
  color: #767676;
  font-weight: 600;
}
